streamlit
pandas
numpy
joblib
plotly
shap
matplotlib
gdown
imblearn
scikit-learn==1.3.0  # <--- Change this to match your training version exactly!
xgboost==2.0.0       # <--- Change this to match your training version exactly!
