streamlit
pandas
numpy
joblib
plotly
shap
matplotlib
gdown
imblearn
scikit-learn==1.6.1  # <--- Change this to match your training version exactly!
xgboost==2.1.4      # <--- Change this to match your training version exactly!
